@font-face {
	font-family: "Arial-Regular";
	src: url("../fonts/arial.ttf") format("truetype");
}
@font-face {
	font-family: "Arial-Bold";
	src: url("../fonts/arialbd.ttf") format("truetype");
}
@font-face {
	font-family: "Arial-blk";
	src: url("../fonts/ariblk.ttf") format("truetype");
}
@font-face {
	font-family: "ARIALN";
	src: url("../fonts/ARIALN.TTF") format("truetype");
}
@font-face {
	font-family: "ARIALNB";
	src: url("../fonts/ARIALNB.TTF") format("truetype");
}
@font-face {
	font-family: "OpenSans-Regular";
	src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "OpenSans-ExtraBold";
	src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
}
@font-face {
	font-family: "OpenSans-Bold";
	src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "OpenSans-SemiBold";
	src: url("../fonts/OpenSans-Semibold.ttf") format("truetype");
}