body {
	font: 18px "Arial-Regular", sans-serif;
	min-width: 320px;
	position: relative;
	max-width: 1920px;
	margin: 0 auto;
	overflow-x: hidden;
}
.relative {
	position: relative;
}
textarea {
	resize: none;
}
button {
	text-transform: uppercase;
	border: none;
	background: none;
}
a
button, button:focus, button:hover, input, .thumbnail, .slick-slide, img, ul, li, a, a:focus, a:hover, a:visited, div, div:focus textarea, textarea:focus {
	outline: none;
	text-decoration: none;
}
ul {
	list-style-type: none;
	padding: 0;
}
.footer_logo {
	padding-top: 12px;
}
.made_by p {
	margin-bottom: 10px;
}
.copyright p {
	margin-top: 10px;
}
.copyright {
	text-align: center;
	padding-top: 20px;
}
.made_by {
	text-align: right;
	padding-top: 20px;
}
.form_wrapper {
	margin: auto;
	text-align: center;
	position: relative;
	width: 100%;
	max-width: 370px;
	padding: 20px 0;
	background-color: #305188;
}
.form_wrapper h6 {

}
.form_wrapper p {
	
}
label.error {
	color: red;
}
.form input::-webkit-input-placeholder {
	
}
.form input::-moz-placeholder {
	
}
.form input:-ms-input-placeholder {
	
}
.form input:-moz-placeholder {
	
}
.form textarea::-webkit-input-placeholder {
	
}
.form textarea::-moz-placeholder {
	
}
.form textarea:-ms-input-placeholder {
	
}
.form textarea:-moz-placeholder {
	
}
.form input {
	width: 100%;
	border: 0;
	max-width: 270px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	margin-top: 20px;
	color: #000;
	text-indent: 10px;
	height: 55px;
}
.form textarea {
	width: 100%;
	border: 0;
	max-width: 270px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	margin-top: 20px;
	color: #000;
	text-indent: 10px;
	resize: none;
	padding-top: 10px;
	height: 100px;
	resize: none;
}
.form button {
	width: 100%;
	max-width: 270px;
	height: 55px;
	background-color: #cb525d;
	color: #fff;
	margin-top: 20px;
}
.mfp-close-btn-in .mfp-close {
	color: #fff!important;
}
.toggle_btn {
display: none;
height: 30px;
width: 30px;
position: absolute;
z-index: 200;
top: 200px;
right: 15px;
left: auto;
background-color: #305188;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
}
.toggle_btn .sandwich {
	width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.toggle_btn .sandwich span {
	height: 2px;
    width: 24px;
    position: relative;
    border-radius: 2px;
    left: 3px;
    background-color: #fff;
    display: block;
}
.toggle_btn .sandwich span.sw-topper {
	top: 6px;
    transition: transform 0.3s, top 0.2s;
}
.toggle_btn .sandwich span.sw-bottom {
	top: 12px;
    transition: transform 0.3s, top 0.2s;
    transition-delay: 0.1s, 0s;
}
.toggle_btn .sandwich span.sw-footer {
	top: 18px;
    transition: all 0.5s;
    transition-delay: 0.1s;
}
.toggle_btn .sandwich.active .sw-topper {
	top: 15px;
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.toggle_btn .sandwich.active .sw-bottom {
	top: 13px;
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}
.toggle_btn .sandwich.active .sw-footer {
	opacity: 0;
	top: 0;
	transform: rotate(180deg);
}
h1{
	font: 72px "PFDinDisplayPro-Black", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	line-height: 1em;
	letter-spacing: .06em;
	margin-top: 30px;
}
h2 {
	background-color: #4d71ef;
	font: 22px "PFDinDisplayPro", sans-serif;
	padding: 9px 15px;
	margin-left: -15px;
	margin-bottom: 20px;
	letter-spacing: .025em;
}
header {
	min-height: 104px;
	position: relative;
	padding-top: 10px;
}
header a {
	font-size: 16px;
}
header a:visited,
header a:focus {
	color: #fff;
}
header:before {
	content: "";
	position: absolute;
	width: 100%;
	background-position: center top;
	height: 123px;
	top: 0;
	left: 0;
	background-image: url(../img/header_bg.png);
}
header a {
	text-transform: uppercase;
	float: right;
	position: relative;
	color: #fff;
	-webkit-transition: .3s all;
	-moz-transition: .3s all;
	-ms-transition: .3s all;
	transition: .3s all;
}
header a:hover {
	color: #cb525d;
}
header a:last-of-type {
	margin-right: 12px;
}
header a:last-of-type:after {
	content: "";
	background-color: #578ac5;
	height: 26px;
	position: absolute;
	width: 3px;
	right: -7px;
	top: -5px;
}

header .search {
	float: right;
	margin-top: 15px;
	position: relative;
	border-radius: 5px;
}
header input[type="submit"] {
	position: absolute;
	height: 22px;
	vertical-align: middle;
	-webkit-appearance: none;
	border: 0;
	border-left: 2px solid #999;
	width: 30px;
	top: 2px;
	right: 2px;
	-webkit-background-size: 60%;
	background-color: #fff;
	background-size: 60%;
	background-image: url(../img/search.png);
	background-position: center;
	background-repeat: no-repeat;
	
}
header .search:after {
	display: table;
	content: "";
	clear: both;
}
header .search input[type="search"] {
	border: 0;
	border-radius: 6px 6px 6px 0;
	height: 26px;
	text-indent: 4px;
	width: 280px;
}
main {
	background-color: #fefefe;
	min-height: 55px;
}
main .exchange {
	padding-top: 10px;
}
main .exchange h5 {
	color: #305188;
	font-size: 18px;
	width: 50%;
	margin: 0;
	float: left;
}
main .exchange p {
	width: 50%;
	float: left;
	font-size: 12px;
	margin: 0;
	color: #305188;
	padding-top: 4px;
	font-weight: bold;
}
main .exchange em {
	font-style: normal;
	color: #999;
}
main .exchange em:after {
	content: "▲";
	color: green;
}
main .exchange h5 span {
	font-size: 10px;
	position: relative;
	top: -3px;
}
main .weather img {
	width: 100%;
}
main .logo {
	padding-left: 30px;
	padding-top: 5px;
}
.menu {
	height: 25px;
	background-image: url(../img/menu_bg.jpg);
	background-position: center top;
}
.menu ul {
	display: inline-block;
	float: right;
	line-height: 25px;
}
.menu ul li {
	display: inline-block;
	margin-right: 20px;
	color: #305188;
	font-family: "OpenSans-SemiBold", sans-serif;
	font-size: 18px;
	letter-spacing: -2px;
}
.menu ul li.active {
	font-family: "OpenSans-ExtraBold", sans-serif;
}
.menu ul li:last-of-type {
	margin-right: 0;
}
section {
	background-color: #e5e5e5;
	padding: 12px;
	position: relative;
}
.news .news__left {
	padding-left: 20px;
	max-height: 360px;
	padding-bottom: 10px;
}

.news .news__left .date {
	color: #305188;
	position: relative;
	right: 10px;
}
.news .news__left .time {
	margin-right: 10px;
}
.news .news__left .date_news {
	position: relative;
	z-index: 1;
}
.banner_link {
	display: block;
}
.news .news__left .date_news:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 50px;
	background-color: #ddd;
	z-index: -1;
}
.news .news__left .date_news p a {
	color: #333;
	-webkit-transition: .3s all;
	-moz-transition: .3s all;
	-ms-transition: .3s all;
	transition: .3s all;
}
.news .news__left .date_news p {
	border-bottom: 2px solid #ddd;
	margin: 0;
	padding: 6px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 16px;
}
.news .news__left .date_news p:last-of-type {
	margin: 0;
	border: 0;
}
.news .news__left .date_news p a:hover {
	color: #305188;
}
.news .news__pict {
	
	padding: 55px 0 0 32px;
	position: relative;
}
.news .news__right {
	background-image: url(../img/news_bg.jpg);
	height: 100%;
	-ms-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.news .news__pict .left_head {
	text-transform: uppercase;
	font-size: 36px;
	padding: 10px;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #305188;
	color: #fff;
}
.news .right_head,
.bottom .right_head {
	text-transform: uppercase;
	font-size: 22px;
	padding: 6px;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #cb525d;
	color: #fff;
}
.news .bottom_row .right_head,
.bottom .right_head,
.news .bottom_row span {
	font-size: 16px;
	padding: 3px 10px;
	z-index: 100;
}
.news .bottom_row .right_head p,
.bottom .right_head p {
	position: absolute;
	bottom: -22px;
	left: 0;
	color: #cb525d;
	font-size: 12px;
	text-transform: none;
}
.news .bottom_row span {
	position: absolute;
	bottom: 5px;
	left: 45%;
	color: #777;
	font-size: 14px;
}
.news .bottom_row .col-md-7 div,
.news .col-md-3 div {
	background-color: #fff;
	height: 100%;
	position: relative;
	color: #305188;
}
.news .col-md-3 div p,
.news .col-md-3 div h3 {
	padding-left: 5px;
}
.news .bottom_row .col-md-7 div:before,
/*.news .col-md-3 div:before*/ {
	width: 100%;
	height: 15px;
	content: "";
	position: absolute;
	left: 0;
	top: -13px;
	background-color: #fff;
}
.news .col-md-3 div img {
	width: 100%;
	max-width: 270px;
	display: block;
}
.news .col-md-2 div {
	background-color: #fff;
	height: 100%;
}
.news .left_col {
	padding: 0;
}
.news .right_col {
	padding-right: 0;
}
.news .col-md-2 div img {
	margin: 0 auto;
	display: block;
}
.news .bottom_row .col-md-7 div article {
	padding: 0 15px;
}
.news .row {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	margin-bottom: 12px;
}
.news .row:last-of-type {
	margin-bottom: 0;
}
.news .col-md-5 {
	padding-right: 0;
}
.news .news__left {
	background-color: #fff;
	padding-right: 10px;
}
.news .news__selected {
	background-color: #fff;
	margin-bottom: 10px;
	position: relative;
}
.news .news__selected span {
	color: #999;
}
.news .news__selected:last-of-type {
	margin-bottom: 0;
}
.news .news__selected:after {
	display: table;
	content: "";
	clear: both;
}
.news .news__selected img {
	max-width: 40%;
	float: left;
	margin-right: 10px;
}
.news .news__selected p {
	/*text-decoration: underline;*/
	color: #305188;
	padding-top: 40px;
}
.news .news__selected--post {
	padding: 15px;
	overflow: hidden;
	position: relative;
}
.news .news__selected--post:before {
	background-color: #fff;
	content: "";
	position: absolute;
	left: 0;
	height: 100%;
	width: 13px;
	z-index: 4;
}
.news .news__selected--post:last-of-type {
	margin-bottom: 30px;
}
.news .news__selected--post h4 {
	font-size: 26px;
}
.news .news__selected--post p {
	color: #111;
	padding-top: 0;
	margin-bottom: 20px;
}
.news .news__selected--post .navigation {
	float: right;
}
.news .news__selected--post .navigation .news_number span {
	/*color: #305188;*/
	/*font-weight: bold;*/
}
.news .news__selected--post .navigation .news_date span {
	/*font-weight: bold;*/
}
.news .news__selected--post .navigation span:hover {
	font-weight: bold;
}
.news .news__selected--post .navigation span.active {
	font-weight: bold;
	/*color: #305188;*/
}
.news .news__selected--post img {
	width: 100%;
	display: block;
	float: none;
	max-width: 200%;
	margin-bottom: 20px;
}
.news .news__selected--post .author {
	text-align: right;
	display: block;
}
.news .news__selected--post .comments {
	color: #305187;
	font-size: 14px;
	float: left;
	margin-top: 20px;
}
.news .news__selected--post .comments a {
	color: inherit;
	font-weight: bold;
}
.news .news__selected--post .comments a:first-of-type {
	position: relative;
}
.news .news__selected--post .comments a:first-of-type:after {
	position: absolute;
	content: " / ";
	right: -7px;
	
}
.news .news__selected--post .news_social {
	float: right;
	margin-top: 25px;
}
.news .news__selected--post .comments p {
	color: #305187;
	font-size: 18px;
	cursor: pointer;
	margin: 5px 0 2px;
}
.news .news__selected--post .comments p strong {
	color: #cb525d;
}
.news .news__selected--post .comments .comments__open span {
	display: block;
}
.news .news__selected--post .comments .comments__open span.post_author {
	font-weight: bold;
	color: #111;
	font-size: 18px;
}
.news .news__selected--post .comments .comments__open .comments_left {
	float: left;
	width: 60%;
	border-top: 2px solid #999;
	padding-top: 5px;
}
.news .news__selected--post .comments .comments__open .comments_left .answer h6 {
	font-size: 20px;
	color: #666;
	float: right;
	cursor: pointer;
	padding-left: 10px;
	position: relative;
	display: inline-block;
}
.news .news__selected--post .comments .comments__open .comments_left .answer h6.see_answer {
	float: left;
	position: relative;
}
/*.news .news__selected--post .comments .comments__open .comments_left .answer h6.see_answer:before {
	content: "";
	height: 200px;
	width: 100px;
	top: 100%;
	left: -50px;
	z-index: 2;
	position: absolute;
	background-color: #fff;
}*/
.news .news__selected--post .comments .comments__open .comments_left .answer h6 em {
	font-style: normal;
	color: #305188;
	position: absolute;
	top: 1px;
	right: -22px;
}
.news .news__selected--post .comments .comments__open .comments_left .answer h6 em.down {

}
.news .news__selected--post .comments .comments__open .comments_left .answer h6:hover {
	text-decoration: underline;
}
.news .news__selected--post .comments .comments__open .comments_right {
	float: left;
	width: 40%;
	display: none;
	margin-top: 10px;
	padding-left: 10px;
}
.news .news__selected--post .comments .comments__open p {
	color: #111;
	padding: 4px 4px 4px 10px;
	position: relative;
}
.news .news__selected--post .comments .answer__open {
	text-align: right;
}
.news .news__selected--post .comments .answer__open p {
	background-color: #ebecec;
	display: inline-block;
	text-align: left;
	position: relative;
}
.news .news__selected--post .comments .answer__open p:before {
	content: "";
	position: absolute;
	top: 30px;
	height: 2px;
	width: 9999px;
	background-color: #bbb;
	right: 100%;
	z-index: 1;
}
.news .news__selected--post .comments .answer__open p:last-of-type:before {
	border-top: 2px solid #bbb;
	background-color: #fff;
	height: 400px;
	z-index: 3;
}
.news .news__selected--post .comments .comments__open p.main_answer:before {
	content: "";
	position: absolute;
	top: 40px;
	width: 300px;
	height: 9999px;
	border-right: 2px solid #bbb;
	right: 100%;
	background-color: #fff;
	z-index: 2;
}
.news .news__selected--post .comments .comments__open p.main_answer:after {

}
.news .news__selected--post .comments .answer__open p span {
	display: block;
	text-align: right;
	margin: 10px 5px 0 0;
	color: #999;
}
.reg_answer a {
	float: left;
	margin: 0 5px;
}
.news .news__selected--post a.soc_reg img {
	margin-bottom: 0;
	max-width: 30px;
	max-height: 20px;
}
.news .news__selected--post a.soc_reg[href="vk"] img {
	height: 40px;
}
.reg_answer a.soc-reg {
	width: 30px;
	height: 20px;
}
.reg_answer a.soc-reg img {
	width: 100%;
}
.reg_answer .text_answer input,
.reg_answer .text_answer textarea {
	width: 100%;
	text-indent: 7px;
	max-width: 330px;
	border: 2px solid #999;
}
.like_dislike {
	float: right;
	height: 22px;
	margin: 10px 0 10px 6px;
}
.like_dislike img {
	width: auto!important;
	height: auto!important;
	margin: 0!important;
	float: left!important;
}
.like_dislike div {
	cursor: pointer;
}
.like_dislike .like,
.like_dislike .dislike,
.like_dislike .like *,
.like_dislike .dislike * {
	float: left;
}
.like_dislike span {
	font-weight: bold;
	position: relative;
	top: 4px;
	margin-right: 3px;
}
.like_dislike .like {
	margin-right: 5px;
}
.like_dislike .like span {
	color: #305188;
}
.like_dislike .dislike span {
	color: #cb525d;
}
.reg_answer .text_answer input {
	height: 22px;
	margin: 5px 0;
}
.reg_answer .text_answer textarea {
	height: 100px;
}
.reg_answer .text_answer button {
	float: right;
	width: 100%;
	max-width: 105px;
	color: #fff;
	text-transform: uppercase;
	background-color: #cb525d;
	height: 22px;
}
.banner {
	background-image: url(../img/banner.jpg);
	height: 175px;
	background-position: center top;
}
.bottom img {
	max-width: 40%;
	float: left;
	margin-right: 10px;
}
.social {
	background-color: #c4c5c5;
	height: 55px;
	padding: 0;
}
.social .social_icons {
	width: 20%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: space-around;
	-webkit-justify-content: space-around;
	-ms-flex-pack: space-around;
	justify-content: space-around;
}
.social .navigation {
	padding-left: 5px;
	border-left: 3px solid #b4b5b5;
	border-right: 3px solid #b4b5b5;
	width: 15%;
	padding-top: 3px;
}
.social .col-xs-12 {
	height: 55px;
}
.social .col-xs-12 div {
	height: 100%;
	float: left;
}
.social .navigation p {
	font-size: 12px;
	margin-bottom: 3px;
}
.counter {
	line-height: 55px;
}
.popup {
	display: block;
}
.social .col-xs-12 .offer {
	float: right;
	cursor: pointer;
	color: #305187;
	width: 22%;
	position: relative;
	right: -15px;
	padding-left: 20px;
	line-height: 55px;
	background-color: #d8d9d9;
	padding-right: 10px;
}
footer {
	background-color: #305187;
	height: 30px;
	line-height: 30px;
}
footer a,
footer p {
	color: #fff;
	font-size: 11px;
	margin-bottom: 0;
	float: left;
}
footer .feedback {
	float: right;
	width: 22%;
	color: #fff;
	background-color: #385e9a;
	position: relative;
	right: -15px;
	padding-left: 20px;
	cursor: pointer;
}
.social .col-xs-12 .offer img,
footer .feedback img {
	margin-right: 5px;
}
.social .col-xs-12 .offer a,
.social .col-xs-12 .offer a:hover,
.social .col-xs-12 .offer a:visited,
.social .col-xs-12 .offer a:focus {
	color: #305187;
}
footer a:hover {
	color: #fff;
}
.offer i {
	font-size: 20px!important;
	margin-right: 10px;
}
footer i {
	color: #fff;
	font-size: 20px!important;
	margin-right: 10px;
}
aside img {
	width: 100%;
	max-width: 370px;
}
h3.news__title {
	margin-top: 0;
	color: #bbb;
	font-size: 58px;
	font-weight: 900;
}